<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css.map"/>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />

   

</head>
<body>
    <div class="bg-dark text-white p-2">
        <a class="navbar-item text-light text-decoration-none" asp-area="" asp-page="/Index">Dusty Discoveries</a>
        <a class="navbar-item text-light text-decoration-none" asp-controller="Home" asp-action="Burials">Burials</a>
        <a class="navbar-item text-light text-decoration-none" asp-controller="Home" asp-action="Supervised">Predictor</a>
        <a class="navbar-item text-light text-decoration-none" asp-controller="Home" asp-action="Unsupervised">Analytics</a>
        </div>
        
             <div>
                 @RenderBody()
             </div>
</body>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@RenderSection("Scripts", required: false)
</html>
