@model IEnumerable<string>

<a asp-controller="Home" asp-action="Burials" asp-route-hairColor="">Burials</a>

@foreach (string hc in Model)
{
    <a asp-controller="Home" asp-action="Burials" asp-route-hairColor="@hc">@hc</a>
    <br />
}




