@model IEnumerable<string>

    <div class="d-grid gap-1">
<a asp-controller="Home" asp-action="Burials" asp-route-hairColor="" asp-route-ageAtDeath="" asp-route-pageNum="1" class="btn btn-outline-secondary">Burials</a>
<br />



@foreach (string hc in Model)
{
    <a asp-controller="Home" asp-action="Burials" asp-route-hairColor="@hc"  asp-route-pageNum="1"
       class="btn @(ViewBag.SelectedHC == hc ? "btn-primary" : "btn-outline-secondary")">@hc</a>
    <br />
}

</div>





