@model BurialsViewModel

<div class="row">
    <div class="col-3">

        <a asp-controller="Home" asp-action="Burials" asp-route-hairColor="" asp-route-ageAtDeath="" asp-route-pageNum="1" class="btn btn-outline-secondary">Reset Filters</a>
        <br />
        <vc:hc></vc:hc>
        <br/>
        <vc:aod></vc:aod>
        <br />
        <vc:bd></vc:bd>
        <br />
        <vc:sex></vc:sex>
        <br />
        <vc:len></vc:len>
    

    </div>
    <div class="col-9">
       <h1>Burials</h1>

       <form method="post" asp-controller="Home" asp-action="CRUD" asp-route-burialidcomp="@Model.burials">

            <input type="hidden" asp-for="@Model.burials" />
            
                <button type="submit" class="btn btn-outline-dark btn-sm float-end">Database</button>
       
        </form>
    

    

        @foreach (burialmain bm in Model.burials)
        {
            <partial name="BurialSummary" model="bm" />
        }

        <div page-model="@Model.PageInfo" page-action="Burials" page-class="btn"
             page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-classes-enabled="true"
             class="btn-group pull-right m-1"></div>

    </div>
   
</div>

