@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Invalid Credentials</h3>
<p>Would you like to log in or continue exploring?</p>

<a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login</a>
<a class="btn btn-secondary" asp-controller="Home" asp-action="Burials">Return to Exploring!!</a>
